$background_color: #828282;
$light_gradient: #dddddd;
$start_gradient: 0%;
$start_light: 50%;
$end_gradient: 100%;

$hlen: 2px;
$vlen: 2px;
$blur: 5px;
$color: #000;

body
{
  background: $background_color;
  background: -moz-linear-gradient(left, $background_color $start_gradient, $light_gradient $start_light, $background_color $end_gradient);
  background: -webkit-gradient(linear, left top, right top, color-stop($start_gradient,$background_color), color-stop($start_light,$light_gradient), color-stop($end_gradient,$background_color));
  background: -webkit-linear-gradient(left, $background_color $start_gradient,$light_gradient $start_light,$background_color $end_gradient);
  background: -o-linear-gradient(left, $background_color $start_gradient,$light_gradient $start_light,$background_color $end_gradient);
  background: -ms-linear-gradient(left, $background_color $start_gradient,$light_gradient $start_light,$background_color $end_gradient);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#828282',GradientType=1 );
  background: linear-gradient(left, $background_color $start_gradient,$light_gradient $start_light,$background_color $end_gradient);
}

$slideWidth:  1180px;
$slideHeight: 600px;

#container
{
  margin: auto;
  width: $slideWidth;
  height: $slideHeight;
  overflow: auto;
}

#slides 
{
	width: 999999px;
 
  > div 
  {
    height: $slideHeight;
    width: $slideWidth;
    float: left;
    margin-right: 200px;
    text-align: center;
    background: #fff;
    -moz-border-radius: 15px;
    border-radius: 15px;

    h2 
    {
      font-size: 180px;
      margin: 0;
    }
  }

   h1,h2,h3,h4,h5 
   {
    color: #292929;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: -5px;
    margin-top: 0;
    line-height: 1em;
    text-shadow: 5px 5px 5px #cacaca;
  }

  h3
  {
    font-size: 60px;
  }

  h4
  {
    font-size: 40px;
    letter-spacing: 0;
  }

  h5
  {
    font-size: 28px;
    letter-spacing: 0;
  }

  .text-slide
  {
    margin-top: 100px;
  }

  .code-block
  {
    float: right;
    background: #ececec;
    font-size: 18px;
    padding: 12px;
    margin-right: 40px;
    width: 600px;
    text-align: left;
    font-family: tahoma, sans-serif;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: $hlen $vlen $blur lighten($color, 40%);
    -moz-box-shadow: $hlen $vlen $blur lighten($color, 40%);
    box-shadow: $hlen $vlen $blur lighten($color, 40%);
    -moz-border-radius: 2px;
  }
}

#progress-bar
{
  width: $slideWidth;
  margin: 10px auto;
  background: #fff;
  -webkit-box-shadow: $hlen $vlen $blur $color;
  -moz-box-shadow: $hlen $vlen $blur $color;
  box-shadow: $hlen $vlen $blur $color;
  -moz-border-radius: 2px;
  border-radius: 2px;

}

#progress
{
  background: #c7f464;
}

#tooltip
{
  position: absolute;
  background: #fffecb; 
  padding: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
