$background_color: #828282;
$light_gradient: #dddddd;
$start_gradient: 0%;
$start_light: 50%;
$end_gradient: 100%;

body
{
  background: $background_color;
  background: -moz-linear-gradient(left, $background_color $start_gradient, $light_gradient $start_light, $background_color $end_gradient);
  background: -webkit-gradient(linear, left top, right top, color-stop($start_gradient,$background_color), color-stop($start_light,$light_gradient), color-stop($end_gradient,$background_color));
  background: -webkit-linear-gradient(left, $background_color $start_gradient,$light_gradient $start_light,$background_color $end_gradient);
  background: -o-linear-gradient(left, $background_color $start_gradient,$light_gradient $start_light,$background_color $end_gradient);
  background: -ms-linear-gradient(left, $background_color $start_gradient,$light_gradient $start_light,$background_color $end_gradient);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#828282',GradientType=1 );
  background: linear-gradient(left, $background_color $start_gradient,$light_gradient $start_light,$background_color $end_gradient);
}

$slideWidth:  1180px;

#container
{
  margin: auto;
  width: $slideWidth;
  overflow: auto;
}

#slides 
{
	width: 999999px;
 
  > div 
  {
    height: 600px;
    width: $slideWidth;
    float: left;
    margin-right: 200px;
    text-align: center;
    background: #fff;
    -moz-border-radius: 15px;
    border-radius: 15px;

    h2 
    {
      font-size: 180px;
      line-height: 1em;
      margin: 0;
    }
  }

   h1,h2,h3,h4,h5 
   {
    color: #292929;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: -5px;
    margin-top: 0;
    text-shadow: 5px 3px 0 white;
  }
}

#progress-bar
{
  width: $slideWidth;
  margin: 0 auto;
}


